/* #root{
    margin-top: 20px;
} */
body{
    padding-top: 10px;
}
.col{
    margin: 5px;
    background-color: #ffffff;
}
circle{
    background-color: #ffffff;
    r: 2;
    opacity: 1;
    fill: #ffffff;
    stroke: #ffffff;
}
.func-card{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
}

h1{
    text-align: center;
}

.form-select{
    margin-top: 10px;
}

.grid_btn{
    padding-left: 0;
    padding-right: 0;
    display: grid;
}

.footer_box{
    margin-top: 1.5em;
    height: 8em;
    background-color: #fafafa !important;
}

.page_footer{
    margin-top: 5em;
    font-size: .9em;
    color: #ffffff;
}
.blockquote-footer:before{
    content: "";
}
